body,html {
    min-height: 100vh;
}
#__nuxt {
    background-color: #f2f2f2;
    display: flex;
    min-height: 100vh;
}


.main {
    flex-grow: 1;
}


.title {
    color: blue;
    font-size: $fs-md;
}

.nav-link {
    &.router-link-exact-active {
        color: red;
    }
}